@import url("reset.css");

body {
    font-family: "Lato", sans-serif;
    background-color: #D9D9D9;
}

[class*='__container'] {
    width: 100%;
    max-width: 1432px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header__menu {
    height: 50px;
    background-color: #2327f7;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    text-align: center;
    color: aliceblue;
}
.hero {
    height: 612px;
    background-image: url("../img/hero.jpg");
	background-repeat: no-repeat;
    padding-left: 50%;
    padding-top: 110px;
    padding-bottom: 110px;
}

.hero__subtitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 20px;
}

.hero__title {
    font-family: "Montserrat", sans-serif;
    font-size: 96px;
    font-weight: 800;
    margin-bottom: 16px;
}

.hero__title span {
    font-weight: bold;
}

hr {
    width: 308px;
    height: 1px;
    background-color: #2F302C;
    border: none;
    margin-bottom: 36px;
}

.hero__text {
    max-width: 374px;
    font-weight: 500;
    color: #7E7F7C;
    line-height: 125%;
}

.plan {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-top: 100px;
}

.plan__item {
    min-height: 32px;
    letter-spacing: 0.2px;
    line-height: 171%;
    color: #252b42;
    padding-left: 42px;
    padding-top: 4px;
    margin-bottom: 15px;
}

.checked {
background: url(../img/Check.png);
background-repeat: no-repeat;
}

.unchecked {
    background: url(../img/uncheck.png);
background-repeat: no-repeat;
}

.footer__text {
    text-align: center;

}

.arrow-top {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #2327f7;
}