@import url("reset.css");

/* Основні стилі */

/* Значення за замовченням  */
body {
	font-family: "Lato", sans-serif;	
	color:#2F302C ;}
.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
    
}
.wrapper > main {
	flex-grow: 1;
}

/* ------------------------------------------------------------------- */

[class*="__container"] {
	max-width: 1392px;
	margin: 0 auto;
}

[class*="__title"] {
    font-size: 32px;
    font-weight: 800;
    line-height: 125%;
}

.registration {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 82px;
    padding-bottom: 82px;
}

.registration__title {
    margin-bottom: 36px;
}

.registration__subtitle,
.form-registration__subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
    color: #7E7F7C;
}

.registration__subtitle {
margin-bottom: 82px;
}

.form-registration__subtitle {
    margin-bottom: 72px;
}

.form-registration__subtitle a {
    text-decoration: underline;
    color: #2F302C;
}

.registration__content {
    display: flex;
    justify-content: space-between;
    flex-basis: 712px;
    gap: 80px;
    padding-top: 82px;
}

.form-registration {    
    text-align: left;    
}

.form-registration__inputs {
    display: flex;
    flex-wrap: wrap;    
    gap: 40px;
    margin-bottom: 72px;
}

.form-registration__title {
    margin-bottom: 36px;    
}

.form-registration__input {
    width: 47%;
    height: 44px;
    border-bottom: 1px solid #D4D4D4;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
}

.form-registration__input::placeholder {
    font-size: 16px;
    font-weight: 500;
    line-height: 125%;
    color: #7E7F7C; 
}

.form-registration__input:nth-child(3) {
    width: 100%;
}

.form-registration__btn {
    min-width: 336px;
    background-color: #2F302C;
    color: #fff;
    padding: 12px 114px;
    line-height: 125%;
    font-weight: 500;
}

.promo {
    display: flex;
    flex-basis: 600px;
    position: relative;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 336px;
    padding-top: 224px;
    width: 600px;
    height: 496px;
    background-color: #f6f6f6;
    overflow: hidden;
}
.promo__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.promo__content {
height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: end;
}

.promo__label {
    position: relative;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 700;
    background-color: #ce0000;
    color: #fff;
    text-transform: uppercase;
}

.promo__title {
    position: relative;
    max-width: 184px;
    font-weight: 800;
    font-size: 32px;
    line-height: 125%;
    text-transform: uppercase;
    text-align: left;
}