/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Основні стилі */

/* Значення за замовченням  */
body {
	font-family: "Lato", sans-serif;	
	color:#2F302C ;}
.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

/* ------------------------------------------------------------------- */

[class*="__container"] {
	max-width: 1422px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

[class*="__title"] {
	text-transform: uppercase;
	font-weight: 800;
}

.header {	
	padding: 60px 0;
}

/* -----------------------------categories-------------------------------------- */

.categories {
	display: grid;
	gap: 36px;
	/* grid-template-columns: repeat(4, 1fr); */
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	padding-bottom: 82px;
}
.categories__card {
	position: relative;
	display: flex;
	align-items: flex-start;	
	flex-direction: column;
	gap: 24px;
	min-height: 584px;
	padding-top: 48px;
	padding-right: 32px;
	padding-bottom: 64px;
	padding-left: 32px;	
	background-color: #F7F7F7;
}


.card-category__image-lamps {
	position: absolute;
	top: 0;
	right: 32px;
}

.card-category__image-chair {
	position: absolute;
	bottom: 0;
	right: 0;
}

.card-category p {
	line-height: 1.25; /* 20/16 */
	color: #7E7F7C;	
}

.card-category p:nth-child(2){
	max-width: 310px;
}

.card-category:first-child {
	justify-content: flex-end;
}
.card-category:nth-child(2) {	
	grid-column: span 2;
	align-items: center;
	justify-content: space-between;
	background-color: #E6EFEA;
	text-align: center;	
}



.card-category__title {		
	font-size: 20px;
	line-height: 1.4; /* 28/20 */
}

.card-category__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

.card-category__content--center {
	align-items: center;
	text-align: center;
}

.card-category__link {	
	position: relative;
	display: block;
	/* margin: 0 auto; */
	color: #7E7F7C;
	width: max-content;
}

.card-category__link::after {
	content: "";
	position: absolute;
	right: -20px;
	top: 50%;
	transform: translateY(-50%);	
	width: 16px;
	height: 16px;	
	background: url("../img/icons/shevron-right.svg");
	background-repeat: no-repeat;
	background-position: center;
}

@media (width < 1415px) {
	.categories {
		grid-template-columns: repeat(auto-fill, minmax(min(320px, 100%), 1fr));
		
	}

	.categories__card {
		min-height: 500px;
	}
	.card-category:nth-child(2) {
		grid-column: span 1;
	}
}

@media (width < 1060px) {
	.categories {
		grid-template-columns: repeat(2, 1fr);
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	}

	.card-category:nth-child(1) {
		order: 1;
	}

	.card-category:nth-child(3) {
		order: 2;
	}

	.card-category:nth-child(2) {
		grid-column: span 2;
		order: 3;
	}

}

@media (width < 705px) {
	.card-category__content{
		align-items: center;
		text-align: center;
	}
	
	.categories {
    grid-template-columns: repeat(auto-fit, minmax(320px, 450px));
    justify-content: center;
  }
	.card-category:nth-child(2) {
		grid-column: span 1;
		order: 3;
	}
}

@media (width < 380px) {
	.categories__card {    
    gap: 12px;
    min-height: 440px;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
}
.card-category__content {		
	align-items: center;
	text-align: center;
}
}


/* -----------------------------trusted-------------------------------------- */

.trusted {
	display: grid;
	flex-direction: column;
	align-items: center;
	gap: 72px;
	padding-top: 82px;
	padding-bottom: 82px;
}
.trusted__title {
	font-size: 32px;
	line-height: 1.25; /* 40/32 */
	text-align: center;
}
.trusted__list {
	display: grid;
	align-items: center;
	justify-content: center;
	column-gap: 75px;
	row-gap: 68px;
	grid-template-columns: repeat(6, 1fr);
	/* grid-template-columns: repeat(auto-fill, minmax(150px, 169px)); */
}


.trusted__item {
}
.trusted__image {
}

/* -----------------------------featured-------------------------------------- */
.featured {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	padding: 80px 0;	
}
.featured__title {
	font-size: 32px;
	font-weight: 800;
	line-height: 125%; /* 40/32 */	
	margin-bottom: 36px;
	text-align: center;
}
.featured__menu {
	display: flex;
	justify-content: center;
	gap: 48px;
	flex-wrap: wrap;
	text-transform: uppercase;
	margin-bottom: 72px;
	font-weight: 700;
	font-size: 16px;
	line-height: 125%;	
}

.menu-featured__item {
	padding-bottom: 8px;
	cursor: pointer;
	border-bottom: 1.7px solid transparent;
}
.menu-featured__item:hover {
	border-bottom: 1.7px solid #2F302C;	
}
.featured__cards {
	display: grid;		
	gap: 36px;
	grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
	
}

@media (width < 768px)  {
.featured__cards {
	grid-template-columns: repeat(auto-fill, minmax(min(440px, 100%), 1fr));
}
}



.featured__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	/* flex-basis: 440px; */
	flex-shrink: 1;
}
.card__image {
	margin-bottom: 20px;
}
.card__title {
	font-weight: 500;
	line-height: 1.25;
}
.card__rates {
	display: flex;
	gap: 4px;
}
.card__rate {
	width: 12px;
	height: 12px;
}
.card__price {
	font-size: 20px;
	font-weight: 800;
	line-height: 1.4;
}

.footer__text {
	text-align: center;
}


@media (width < 1420px) {
	.trusted__list {
		gap: 30px;
	}
}

@media (width < 980px) {
	.trusted__list {
		grid-template-columns: repeat(4, minmax(100px, 169px));
		/* grid-template-columns: repeat(auto-fill, minmax(100px, 169px)); */
		gap: 30px;
	}
	.trusted, .categories {
		padding-top: 42px;
	padding-bottom: 42px;
}
}

@media (width < 580px) {
	.trusted__list {
		grid-template-columns: repeat(3, minmax(100px, 169px));
		/* grid-template-columns: repeat(auto-fill, minmax(100px, 169px)); */
		gap: 30px;
	}
	.trusted, .categories {
		padding-top: 22px;
	padding-bottom: 22px;
}

.featured__menu {
	row-gap: 20px;
	margin-bottom: 22px;
}
}

@media (width < 395px) {
.trusted {
	gap: 40px;
}
.trusted__list {
		grid-template-columns: repeat(2, minmax(100px, 169px));
		
	}
}



