/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Основні стилі */

/* Значення за замовченням  */
body {
	font-family: "Montserrat", sans-serif;
	color: #343434;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

/* ------------------------------------------------------------------- */

[class*="__container"] {
	max-width: 1230px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

[class*="__title"] {
	font-family: "Lora", serif;
	text-transform: uppercase;
	font-weight: 400;
	color: #BA936F;
}

h2 {
	font-size: 35px;
}

.lessons,
.hero,
.practice,
.schedule {
	padding: 70px 0;
}

.hero__image-wrapper,
.practice__image-wrapper,
.cards-lessons__image-wrapper,
.content-schedule__image-wrapper {
	border-radius: 33px;
	overflow: hidden;
}


/* -----------------------------header-------------------------------------- */

.header {
	padding: 33px 0;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-family: "PraysireDemo", sans-serif;
	font-size: 40px;
	font-weight: 400;
	color: #BA936F;
}

.menu__list {
	display: flex;
	gap: 60px;
	justify-content: space-between;
}

.menu__item:hover {
	color: #BA936F;
}

.main-btn {
	padding: 11px 47px;
	border-radius: 15px;
	background-color: #BA936F;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
}

.main-btn:hover {
	background-color: #A67C58;
}

.icon-menu {
	display: none;
}

@media (width <=1080px) {
	.menu__list {
		gap: 30px;
	}
}

@media (width <=900px) {
	.icon-menu {
		display: block;
		width: 35px;
		height: 18px;
		flex-shrink: 0;
	}

	.icon-menu,
	.header__logo,
	.header__btn {
		position: relative;
		z-index: 3;
	}

	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		height: 2px;
		width: 35px;
		position: absolute;
		right: 0;
		transition: all 0.3s;
		background-color: #BA936F;
	}

	.icon-menu::before {
		top: 0;
	}

	.icon-menu::after {
		bottom: 0;
	}

	.icon-menu span {
		top: 50%;
		translate: 0 -50%;
	}

	.header__logo {
		order: 1;

	}

	.icon-menu {
		order: 2;
		background-color: #fff;		
	}

	.header__btn {
		order: 3;
		padding: 11px 32px;

	}

	.menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 100%;
		background-color: #f6f6f6;
		z-index: 1;
		overflow: auto;
		transition: left 0.3s;
		padding: 140px 15px 30px 15px;
	}

	.menu::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 100px;
		top: 0;
		left: 100%;
		transition: left 0.3s;
		background-color: #fff;
		z-index: 2;
	}

	.menu__list {
		row-gap: 40px;
		flex-direction: column;
		align-items: center;
	}

	.menu__link {
		font-size: 40px;
	}

	[data-menu-open] .icon-menu span {
		width: 0;
	}

	[data-menu-open] .icon-menu::before {
		rotate: -45deg;
		translate: 0 -50%;
		top: 50%;
	}

	[data-menu-open] .icon-menu::after {
		rotate: 45deg;
		translate: 0 50%;
		bottom: 50%;
	}

	[data-menu-open] .menu,
	[data-menu-open] .menu::before {
		left: 0;
	}
}

@media (width <=440px) {
	.header__logo {
		order: 1;
	}
	.icon-menu {
		order: 2;
		background-color: #fff;		
	}
	.header__btn {
		display: block;
		position: fixed;
		left: 100%;
		bottom: 5%;
		margin: 0 auto;
		transition: left 0.3s;
	}

	[data-menu-open] .header__btn {
		left: 50%;  
  		transform: translateX(-50%);
}

}

/* -----------------------------Hero-------------------------------------- */


.hero__container {
	display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 27px;
}

.hero__content {
	width: 58%;
}

.hero__title {
	font-size: 50px;
	margin-bottom: 70px;
}

.hero__content p,
.practice__content p {
	font-size: 19px;
	line-height: 1.42;
	margin-bottom: 60px;
}

.hero__button,
.practice__content span,
.practice__content strong {
	position: relative;
	font-size: 17px;
	line-height: 1.58;
}

.hero__button {
	margin-left: 62px;
}

.hero__button::after {
	content: '';
  display: block;
  width: 25px;
  height: 25px;
  background: url('../img/icons/arrow.svg') no-repeat center / contain;
  position: absolute;
  right: -31px;
  top: 50%;
  transform: translateY(-50%);
}

.hero__button::before {
	content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: url('../img/circle.png') no-repeat center / contain;
  position: absolute;
  left: -62px;
  top: 50%;
  transform: translateY(-50%);
}

.hero__image-wrapper {
	width: 40%;
	}

.hero__image {
	display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (width <=1200px) {
	.hero__container {
		flex-direction: column;
		/* height: 100vh; */
	}

	.hero__content{
		/* height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between; */
		width: 85%;
	}
	
	.hero__image-wrapper  {
		display: none;
	}
	.hero__title {
		font-size: 40px;
		margin-bottom: 50px;
	}
}

@media (width <=700px) {
	.hero__content {
		width: 100%;
	}
	.hero__content p {
		margin-bottom: 115px;
	}
}
@media (width <=430px) {
	.hero__title {
		font-size: 30px;
		margin-bottom: 40px;
	}
	
	.hero__content p,
	.practice__content p {
	font-size: 17px;
	line-height: 1.42;	
}

}


/* -----------------------------Practice-------------------------------------- */


.practice__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}
.practice__image-wrapper {
	width: 50%;	
}
.practice__image,
.cards-lessons__image {
	display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.practice__content {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.practice__content strong {
	margin-bottom: 42px;
	color: #BA936F;
}

.practice__title {	
	margin-bottom: 55px;
}
.practice__btn {
	text-transform: capitalize;
	width: fit-content;
}
@media (width <=1080px) {
	.practice__container {
		flex-direction: column-reverse;
	}

	.practice__content,
	.practice__image-wrapper {
		width: 85%;
	}

}

@media (width <=700px) {
	.practice__content,
	.practice__image-wrapper {
		width: 100%;
	}

	.practice__title {
		font-size: 30px;
	}
}

@media (width <=510px) {
	.practice__title {
		font-size: 25px;
		margin-bottom: 40px;
	}

	.practice__content p {
    font-size: 17px;
    line-height: 1.42;
    margin-bottom: 40px;
}

}

/* -----------------------------Lessons-------------------------------------- */


.lessons__container p,
.schedule__container p {
	font-size: 17px;
	line-height: 1.59;
	max-width: 840px;
	margin-bottom: 64px;
}
.lessons__title {
	margin-bottom: 32px;
}

.cards-lessons {
	display: flex;
	justify-content: space-between;
	gap: 45px;
}

.cards-lessons figcaption {
	font-family: "Lora", serif;	
	font-weight: 400;
	color: #BA936F;
	margin-left: 13px;
}
.cards-lessons__image-wrapper {
	margin-bottom: 14px;	
}

@media (width <=750px) {
	.cards-lessons {
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	.cards-lessons__image-wrapper {
		max-width: 100%;
		margin: 0 auto ;
	}
}


/* -----------------------------Schedule-------------------------------------- */

.schedule__title {
	max-width: 515px;
	margin-bottom: 16px;
}
.schedule__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content-schedule__table {
	border-collapse: collapse;
	width: 55%;
}

.content-schedule__table td {
	border-top: 1px solid #BA936F;
    border-bottom: 1px solid #BA936F;
    border-left: none;
    border-right: none;
	padding: 18px 0;
}
.content-schedule__table td {
	text-transform: uppercase;
}

.content-schedule__table td:last-child {
	text-align: right;
}

.content-schedule__table td:nth-child(2) {
	position: relative;
   padding-left: 65px;
}

td span {
	position: relative;
	cursor: pointer;
}
td span::after {
	content: "";
    display: block;
	position: absolute;
	top: -2px;
	right: -15px;
	width: 15px;
	height: 15px;
	background: url('../img/icons/up-right-arrow.svg') no-repeat center / contain;
}

@media (width <=1200px) {
	.content-schedule {
		flex-direction: column;
		gap: 40px;
	}

	.content-schedule__table  {
		width: 85%;
	}
}

@media (width <=730px) {
	    .content-schedule__table {
			display: none;
		}

}

footer {
	margin: 0 auto;
}