@import url("reset.css");

body {
    font-family: "Lato", sans-serif;
    background-color: #D9D9D9;
}

[class*='__container'] {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    font-size: 40px;
}

.game__title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.game__field {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: #7db0e3;
    border: 2px solid #060d70;
}

[class*='game__item'] {
    position: absolute;
    visibility: hidden;
    background-color: #060d70;
    color: aliceblue;
    text-align: center;
}

.game__list {
    position: relative;
}

.start {
    width: fit-content;
    color: aliceblue;
    padding: 3px;
    visibility: visible;
    background-color: #060d70;
}

.start:hover+.game__item-2 {
    visibility: visible;
}

.game__item-2 {
    width: 30px;
    height: 150px;
    position: absolute;
    top: 22px;
    left: 52px;    
}

.game__item-2:hover,
.game__item-3:hover,
.game__item-4:hover,
.game__item-5:hover,
.game__item-6:hover,
.game__item-7:hover,
.game__item-8:hover {
    visibility: visible;
}

.game__item-2:hover+.game__item-3 {
    visibility: visible;
}

.game__item-3 {
    width: 150px;
    height: 25px;
    top: 172px;
    left: 52px;
}

.game__item-3:hover+.game__item-4 {
    visibility: visible;
}

.game__item-4 {
    width: 20px;
    height: 200px;
    top: 172px;
    left: 202px;
}

.game__item-4:hover+.game__item-5 {
    visibility: visible;
}

.game__item-5 {
    width: 424px;
    height: 20px;
    top: 352px;
    left: 222px;
}

.game__item-5:hover+.game__item-6 {
    visibility: visible;
}

.game__item-6 {
    width: 20px;
    height: 168px;
    top: 352px;
    left: 646px;
}

.game__item-6:hover+.game__item-7,
.game__item-6:hover~.game__item-8 {
    visibility: visible;
}


.game__item-7 {
    width: 200px;
    height: 20px;
    top: 500px;
    left: 666px;
}

.game__image {
    width: 98px;
    height: 104px;
}

.game__item-8 {
    background-color: #7db0e3;
    right: 10px;
    top: 470px;
}

.plan {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-top: 100px;
    padding-bottom: 50px;
}

.plan__item {
    position: relative;
    min-height: 32px;
    letter-spacing: 0.2px;
    line-height: 32px;
    color: #252b42;
    padding-left: 42px;
    padding-top: 4px;    
}

.plan__item:not(:last-child) {
margin-bottom: 15px;
}

.checked::before {
    content: "";
    vertical-align: middle;    
    width: 32px;
    height: 32px;
    margin-right: 10px;    
    background-size: cover;
    background-image: url(../img/Check.png);
}

.unchecked::before {
    content: "";    
    vertical-align: middle; 
    width: 32px;
    height: 32px;
    margin-right: 10px;    
    background-size: cover;
    background-image: url(../img/uncheck.png);
}

.test__title {
    font-size: 24px;
    margin-bottom: 20px;
}

.test__title:hover {
    color: rgb(27, 10, 178);
	text-decoration: underline;
}

.test__text,
.test__link {
    margin-bottom: 10px;
}
.test__text:active {
    color: #060d70;
}

.test__link:visited {
    color: purple;
}

.test__link:focus {
	outline: 1px solid red;
}

.test__list li:nth-child(3n+1) {
    font-weight: bold;
}

.test__list li:nth-of-type(even) {
    color: #060d70;
}

.footer__text {
    text-align: center;

}